# Ignore full Pieces folder
fullPieces/

# Ignore sections other than kilitan

gambangAMT/soundfiles/**/cading/
gambangAMT/soundfiles/**/cadingNoGangsa/
gambangAMT/soundfiles/**/cue/
gambangAMT/soundfiles/**/kawitan/
gambangAMT/soundfiles/**/penyuud/

# Ignore kilitan 2 and 3
gambangAMT/soundfiles/**/kilitan/semtk2_kilitan2_*.wav
gambangAMT/soundfiles/**/kilitan/semtk2_kilitan3_*.wav

# Ignore Toth spreadsheets
NAGiMelajah2/2-Sintesis/TothGongKebyarSpreadsheets/
