# Ignore folder contoh
contoh/

# Ignore full Pieces folder
fullPieces/

# Ignore sections other than kilitan

gambangAMT/soundfiles/**/cading/
gambangAMT/soundfiles/**/cadingNoGangsa/
gambangAMT/soundfiles/**/cue/
gambangAMT/soundfiles/**/kawitan/
gambangAMT/soundfiles/**/penyuud/